@model Course
@{
    ViewData["Title"] = "EditCourse";
}

<form method="post" asp-action="EditCourse">
     <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Course Details</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="courseName">Course Name</label>
            <input asp-for="courseName" class="form-control"/>
            <span asp-validation-for="courseName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="courseDuration">Course Duration</label>
            <input asp-for="courseDuration" class="form-control"/>
            <span asp-validation-for="courseDuration" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="Course" asp-action="Index" class="btn btn-secondary">Back to Homepage</a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}

